<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= client.librarian_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= client.book_id %>
  </p>

</div>
