<div id="<%= dom_id reservation %>">
  <p>
    <strong>Book:</strong>
    <%= reservation.book.title %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= reservation.librarian.name %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= reservation.client.name %>
  </p>

</div>
